@page "/pages/roles/create"
@using ApplicationCore.Features.Roles.Commands

<MudText Typo="Typo.h5" Color="Color.Primary" Class="mb-4">Create Role</MudText>

@if(Errors.Any())
{
    foreach (var error in Errors)
    {
        <MudAlert Severity="Severity.Error">@error</MudAlert>
    }
}

<table>
    <thead>
        <tr>
            <th></th>
            <th>Read</th>
            <th>Edit</th>
            <th>Create</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var permission in Permissions)
        {
            <tr>
                <td>@permission.name</td>
                <td>
                    <MudCheckBox @bind-Checked="permission.can_read"></MudCheckBox>
                </td>
                <td>
                    <MudCheckBox @bind-Checked="permission.can_edit"></MudCheckBox>
                </td>
                <td>
                    <MudCheckBox @bind-Checked="permission.can_create"></MudCheckBox>
                </td>
                <td>
                    <MudCheckBox @bind-Checked="permission.can_delete"></MudCheckBox>
                </td>
            </tr>
        }
    </tbody>
</table>